<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>SQL Injection Demo</title>
</head>
<body>
    <div class="container">
        <h1>SQL Injection Demo</h1>
        <form action="/submit" method="post">
            <input type="text" name="jmbag" placeholder="Unesite JMBAG" required>
            <input type="checkbox" name="vulnerabilityCheckbox" <% if (vulnerable) { %>checked<% } %>> Stranica ranjiva na SQL injection
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
